.navbar-custom{
    background-color: #F5624D;
}


#gift_ico{
    transition: all .2s ease-in-out;
    border:0px; 
    margin: 0px; 
    height: 42px; 
    width: auto
}
#gift_ico:hover {
    transform: scale(1.1) translateY(-5%);
    animation: shake 2s;
    animation-iteration-count: infinite

}

#key_ico{
    transition: all .2s ease-in-out;
    border:0px; 
    margin: 0px; 
    height: 42px; 
    width: auto;
}
#key_ico:hover {
    transform: scale(1.1) translateY(5%);
    animation: shake 2s;
    animation-iteration-count: infinite

}



@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }