{% extends 'base.html.twig' %}

{% block title %}Letter{% endblock %}

{% block body %}

<body style="background-image: url('{{ asset('medias/png/chr_bg_1.jpg') }}');">
<div class="container" style="display: flex; align-items: center; justify-content: center; height: 100vh; background-color:hsl(42, 79%, 94%); ">
    <div class="Card">
        <p class="card-header">Écris ta lettre au Père-Noël<p>
        <form action>
            <div class="card-text">
                <label for="name"><p>Comment tu t'appelles ?</p></label>
                <input type="text" name="name" id="name">
            </div>
            <textarea class="card-body" id="lettre" name="lettre" rows="10" cols="66">Cher Père-Noël, pour Noël cette année je voudrais....</textarea>
            <div class="card-footer text-muted">
            <input  type="submit" value="Envoyer ma lettre">
            </div>
        </form>
    </div>
</div>
</body>
{% endblock %}
